.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (min-width: 320px) {
  .container {
    max-width: 375px;
  }

  header .mobile-nav {
    height: 3.75rem;
  }

  #mission-statement .mission-statement {
    width: 56%;
  }
}

@media (min-width: 375px) {
  .container {
    max-width: 640px;
  }

  #services .pricing {
    padding-left: 4.5rem;
  }

  header .mobile-nav {
    height: 4rem;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 768px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.125rem;
  }

  body {
    font-size: 1rem;
  }

  header .mobile-nav {
    display: none;
  }

  header .desktop-nav {
    height: 4rem;
    background-color: rgba(82, 82, 82, 255);
    display: flex;
    justify-content: space-between;
    padding: 0 1.25rem;
  }

  header .desktop-nav ul {
    display: flex;
    align-items: center;
  }

  header .desktop-nav li {
    padding-left: 2rem;
  }

  header .desktop-nav ul a {
    color: white;
  }

  header .desktop-nav .img-container {
    width: 28%;
    margin: 0;
    display: flex;
    align-items: center;
  }

  header .big-logo {
    border-radius: 0rem 2.125rem;
  }

  #mission-statement .lighter-image {
    height: 20rem;
  }

  #mission-statement .mission-statement {
    top: 16%;
    font-size: 1rem;
  }

  #services h2 {
    padding-top: 1.25rem;
  }

  #services .pricing {
    font-size: 1rem;
    padding-left: 10rem;
  }

  #about-us {
    height: 16rem;
  }

  .content {
    padding: 2rem;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1536px;
  }
  #mission-statement .lighter-image {
    height: 28rem;
  }

  #mission-statement .mission-statement {
    font-size: 2rem;
  }

  footer {
    height: 5rem;
  }
}