html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: 'open-sans';
  color: rgb(82, 82, 82, 255);
  font-size: 0.5625rem;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.125rem;
  text-align: center;
}

h3 {
  font-size: 0.875rem
}

main {
  padding: 1rem 0;
}

.bold {
  font-weight: bold;
}

.content {
  padding: 1.75rem 1.10rem;
}

/* header begins */
header .desktop-nav {
  display: none;
}

header .mobile-nav {
  height: 3.25rem;
  padding: 0 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(90, 90, 90);
}

header .mobile-nav ul {
  display: inline-flex;
  justify-content: space-between;
}

header .img-container .small-logo {
  border-radius: 50%;
}

header .mobile-nav .img-container {
  width: 12%;
  margin: 0;
}

.mobile-nav li a {
  font-size: .75rem;
  padding-left: 1rem;
}

/* header ends */

/* mission statement section begins */
#mission-statement .lighter-image {
  height: 13rem;
  background:
    /* top, transparent white, faked with gradient */
    linear-gradient(rgba(255, 255, 255, 20%),
      rgba(255, 255, 255, 20%)),
    /* bottom, image */
    url("../images/woman-relaxing.jpg");
  background-size: cover;
  background-position: right 24%;
}

#mission-statement .mission-statement {
  position: relative;
  top: 18%;
  left: 6%;
  width: 55%;
  font-family: "yeseva-one";
  font-style: italic;
  font-size: 0.625rem;
  letter-spacing: .1em;
  color: white;
  text-align: left;
  padding: 0;
}

/* mission statement section ends */

/* services section begins */
#services .service-name {
  list-style: circle;
  list-style-position: inside;
  text-indent: 1em;
}

#services .content {
  display: flex;
}

#services .pricing {
  font-size: .75rem;
  padding-left: 2.5rem;
  display: flex;
  align-items: center;
}

#services .images {
  display: flex;
}

#services .images figure {
  width: 30%;
  margin: 0;
}

#services .images img {
  border-radius: 50%;
  border-style: double;
  border-color: rgba(0, 66, 104, 255);
}

/* services section ends */

/* about us begins */

#about-us h2 {
  padding-top: 1.10rem;
}

#about-us .content {
  display: flex;
  align-items: center;
}

#about-us .img-container {
  margin: 0;
  padding-right: .75rem;
}

#about-us .img-container img {
  border-radius: 50%;
  border: rgba(0, 66, 104, 255) 2px solid;
}

#about-us p {
  text-align: justify;
}

/* about us ends */

/* footer begins */
footer {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  background-color: rgb(90, 90, 90);
  color: white;
  margin-top: auto;
}